@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: rgba(25, 23, 101, 1);
  margin: 0;
}

.header-container .toolbar {
  display: flex;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 40px;
}

.frame38-container p {
  margin: 0 0 20px 0;
}

.toolbar .logo {
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.menu ul {
  display: none;
}

.section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background: url("images/top\ circles.png") top center no-repeat;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.section-container .headline {
  text-align: center;
  color: #c8c8d4;
}

hr {
  color: #3a3837;
}

.headline hr {
  border: 0;
  height: 1px;
  background-color: #555;
  margin: 10px 0;
}

.section-container .headline .primary-text {
  color: #7d73fc;
  font-style: normal;
  font-size: 20px;
  line-height: 44px;
}

.projects-seection .support-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.section-container .headline .support-text {
  color: #edecff;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  margin-left: 24px;
  line-height: 37px;
}

.left {
  display: none;
}

.contact-tittle2 {
  display: none;
}

.frame38-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

.frame38-container .frameworks .framework-list {
  flex-direction: column;
  align-items: flex-start;
  width: 120px;
  left: 0;
}

.frame38-container div {
  width: 50%;
}

.frame38-container h4 {
  color: #9490ff;
}

.frame38-container ul {
  list-style: none;
}

.frame38-container li {
  padding: 10px 0 0 0;
}

.support-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.social-media ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  margin: 20px 10px;
}

.workArrow {
  display: none;
}

.work-container {
  display: grid;
  grid-template-columns: 100%;
  min-width: 280px;
  padding: 0 20px 0 20px;
  margin: 24px 0 12px 0;
  background: url(images/portfolio\ background\ shapes\ mobile@2x.png) center no-repeat;
  top: 1175px;
  color: #dcdce8;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.work-container hr {
  border: 0;
  height: 1px;
  background-color: #555;
  margin: 10px 0;
}

.projects {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
}

.projects-seection > a > img {
  width: 85vw;
}

.work-tittle h2 {
  color: #9490ff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  list-style: 52px;
  padding-top: 0;
  line-height: 16px;
}

.projects-seection .post-tittle {
  color: #f5f5ff;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 40px;
}

.projects-seection ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  list-style: none;
}

.projects-seection li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  border-right: 1px solid #555;
  color: #fff;
  margin-bottom: 10px;
}

.bttn {
  background: #7d73fc;
  color: #fff;
  border: none;
  width: 100px;
  height: 50px;
  margin-bottom: 15px;
  cursor: pointer;
}

.bttn:hover {
  background: #7a71f7;
}

.bttn:focus {
  background: #5e42d7;
}

.bttn:active {
  background: #7d73fc;
}

.bttn:disabled {
  background: #2a2b33;
}

.work-tittle hr {
  border: 0;
  height: 1px;
  background: #c8c8d4;
  margin: 10px 0;
}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 24px;
  margin-right: 20px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;
  position: static;
  width: 327px;
  left: 24px;
  top: 324px;
}

.contact-container .frame42 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.form .name-field {
  display: none;
}

.contact-container form input {
  width: 90%;
  height: 48px;
  margin-bottom: 24px;
  padding-left: 20px;
}

.contact-container h2 {
  text-align: center;
  color: #9390ff;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}

.contact-container p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
}

.contact-container form textarea {
  width: 90%;
  height: 200px;
  margin-bottom: 48px;
  padding-left: 20px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 76px;
}

.mobile-menu {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(25 23 101 / 100%);
  position: fixed;
  top: 0;
  margin-top: 32px;
  background-image: url(images/shapes\ mobile\ menu.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

.mobile-menu .imag {
  display: flex;
  justify-content: flex-end;
  margin-right: 43px;
}

.menu-list {
  left: 100%;
  min-height: 100vh;
  transition: 0.4s;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu-list a {
  color: #edecff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  text-decoration: none;
}

.menu-list li {
  display: flex;
  padding: 8px;
  justify-content: space-around;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #edecff;
  margin: 6px 0;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 24px;
  display: block;
}

.active .bar-1 {
  transform: rotate(-45deg) translate(-7px, 5px);
}

.active .bar-2 {
  opacity: 0;
}

.active .bar-3 {
  transform: rotate(45deg) translate(-7px, -5px);
}

.active .menu-list {
  left: 0;
}

/* Desktop version */

@media screen and (min-width: 768px) {
  .menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    color: #ebebff;
  }

  .logo {
    font-size: 18px;
  }

  .menu a {
    font-size: 15px;
    color: #ebebff;
  }

  .nav-button {
    display: none;
  }

  .section-container {
    display: flex;
    background: url(images/two-circles-header.png) center no-repeat;
    background-size: cover;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    margin: 0 150px;
  }

  .section-container .support-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 40px;
    margin: 88px 0;
  }

  .headline hr {
    border: 0;
    height: 1px;
    background-color: #555;
    margin: 10px 0;
  }

  .frame38-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: unset;
    text-align: left;
    margin: 24px auto;
  }

  .support-item .left {
    display: block;
    margin-right: 30px;
  }

  .right {
    margin-left: 30px;
  }

  .work-container {
    flex-direction: column;
    background: url("images/Group-65@2x.png") center no-repeat;
    background-size: cover;
    padding: 10px 150px;
  }

  .work4 img {
    float: right;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 114px;
  }

  .projects-seection {
    display: grid;
    grid-template: auto/ 50% 50%;
    padding: 40px 0;
    width: 90%;
    margin: auto;
    height: 500px;
    gap: 20px;
  }

  .projects-seection > a > img {
    width: auto;
    margin-bottom: 24px;
  }

  .project-text {
    grid-row-end: 1;
  }

  .projects-seection .post-tittle {
    color: #f5f5ff;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin-top: 0;
    padding-top: 0;
  }

  .left-img {
    flex-direction: row;
    padding: 0;
  }

  .right-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }

  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 38px 24px;
  }

  .contact-tittle2 {
    display: block;
    color: #9390ff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
  }

  .work-tittle {
    display: flex;
    margin: 24px 24px;
  }

  .work-tittle h2 {
    color: #9490ff;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 55px;
    padding: 0 8px;
  }

  .contact-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 684px;
    padding-top: 24px;
  }

  .contact-tittle1 {
    display: none;
  }

  .frame42 p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    width: 100%;
  }

  .footer-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin: 0;
    list-style: none;
  }

  .footer {
    margin-bottom: 32px;
  }

  .social-media-icon {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  .social-media-icon ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin: 20px 10px;
  }
  
  .footer-text {
    margin: 0;
    padding: 0;
  }

  .hamburger {
    display: none;
  }

  .menu-list {
    display: none;
  }

}