* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
  text-shadow: 0 0 2px #191765;
}

body {
  background-color: #191765;
}

body.noscroll {
  overflow-y: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

footer a {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #ebebff;
  line-height: 28px;
  transition: 1s;
}

ul a,
span,
i,
.next a {
  transition: 1s;
}

a:link,
a:visited {
  color: #fff;
}

footer i {
  font-size: 20px;
}

a:hover,
a:active,
span:hover,
i:hover {
  color: #fff;
}

button {
  padding: 12px;
  background-color: #5e42d7;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

button:hover {
  color: #fff;
  box-shadow: 0 8px 16px #5e42d77a;
}

button:active {
  background-color: #5e42d7;
  color: #fff;
}

button:disabled {
  background-color: #2a2b33;
  color: #c8c8d4;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.ff_inter {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-style: normal;
}

.color43 {
  color: #9490ff;
}

.color44 {
  color: #edecff;
}

.colorfff {
  color: #fff;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
}

.proj ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.proj li {
  font-size: 15px;
  line-height: 40px;
  border-left: 1px solid #555;
  padding: 0 20px;
}

.popup_wrapper li {
  font-size: 15px;
  line-height: 20px;
  float: left;
  padding: 14px;
  border-left: 1px solid #81818c;
}

.qual li {
  font-size: 15px;
  color: #f5f5ff;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.proj li:first-child {
  border-left: none;
}

.popup_wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_wrapper li:last-child {
  border-right: 1px solid #81818c;
}

.next ul {
  width: fit-content;
  margin: auto;
}

.popup_wrapper article ul {
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 24px 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #191765;
}

header.active {
  position: sticky;
  display: block;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #191765;
  background-image: url(images/shape\ mobile\ menu-2.svg), url(images/shape\ mobile\ menu-1.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right bottom;
  z-index: 1000;
}

header .logo {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

header .menu_mob {
  display: flex;
  align-items: center;
  text-align: center;
}

header.active .logo,
header.active .menu_mob,
header.active .fa-envelope {
  display: none;
}

header .menu_close,
header .fa-angle-right {
  display: none;
}

header.active .menu_close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: large;
}

header.active .fa-angle-right {
  display: contents;
}

header.active ul {
  display: block;
  padding-top: 60px;
  margin: auto;
  width: calc(100% - 80px);
}

header .menu_dsk {
  display: none;
}

header.active .menu_dsk {
  display: block;
}

.next div ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header.active .menu_dsk ul {
  width: 100%;
}

header.active .menu_dsk li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #edecff;
}

.bckg {
  background-image:
    url(images/Ellipse\ 18.svg),
    url(images/Ellipse\ 19.svg),
    url(images/new_Ellipse\ 19.svg),
    url(images/Ellipse\ 20.svg),
    url(images/Ellipse\ 21.svg),
    url(images/Ellipse\ 22.svg);
  background-position: left 1%, right 10%, left 31%, right 46%, left 61%, right 81%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}

.pres {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 60px 24px 40px;
}

.pres h1 {
  font-size: 48px;
  color: #7d73fc;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.37px;
}

.pres h2 {
  font-size: 32px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 24px 48px;
  width: calc(90% - 48px);
}

.qual p {
  font-size: 20px;
  line-height: 28px;
  color: #c8c8d4;
  margin-bottom: 33px;
}

.qual div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 30px 0 40px;
  border-top: 1px solid #646369;
  border-bottom: 1px solid #646369;
}

.qual div section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.qual h3 {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  line-height: 24px;
  align-items: flex-start;
  letter-spacing: 0.03em;
  margin: 10px 0;
}

.qual .lang {
  width: 107px;
}

.qual .fram {
  width: 140px;
}

.qual .skil {
  width: 106px;
}

.next_dsk {
  display: none;
}

.next_dsk i {
  color: #a2a3ae;
}

.next {
  margin-bottom: 48px;
}

.next_mob i {
  color: #a2a3ae;
}

.next div i {
  font-size: 20px;
}

.next_mob {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 38px;
  margin-bottom: 80px;
  color: #a2a3ae;
  align-items: center;
}

.rcnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 33px;
  border-bottom: 1px solid #646369;
  margin-bottom: 48px;
}

.rcnt h2 {
  font-size: 40px;
  width: calc(100% - 48px);
  line-height: 52px;
  text-transform: uppercase;
}

.proj {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  margin: 40px 24px;
}

.proj img {
  max-width: 100%;
  height: auto;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.proj h3 {
  font-size: 32px;
  align-self: flex-start;
  width: 100%;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin: 24px 0;
  padding: 30px 0;
}

.proj p {
  font-size: 20px;
  color: #dcdce8;
  line-height: 28px;
  margin-bottom: 24px;
}

.proj button {
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: fit-content;
  cursor: pointer;
}

.cont {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  padding: 120px 0 70px;
  text-align: center;
}

.title_mob {
  font-size: 32px;
  text-align: center;
  color: #9390ff;
  line-height: 44px;
}

.title_des {
  display: none;
}

.cont p {
  font-size: 16px;
  color: #f5f5ff;
  line-height: 24px;
  margin-top: 24px;
}

footer {
  width: 100%;
  margin: auto;
  padding-top: 25px;
  border-top: 1px solid #3a3837;
}

.popup_wrapper {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  background-color: #191765;
  background-image:
    url(images/Ellipse\ 18.svg),
    url(images/Ellipse\ 19.svg);
  background-position: left 15%, right 75%;
  background-repeat: no-repeat, no-repeat;
}

.popup_wrapper article {
  position: absolute;
  top: 51px;
  left: 24px;
  width: calc(100% - 48px);
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  background: rgba(255, 255, 255, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
}

.popup_wrapper article div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.popup_wrapper h1 {
  font-size: 20px;
  line-height: 28px;
  padding-left: 24px;
}

.popup_wrapper div:first-child i {
  width: 12px;
  height: 12px;
  cursor: pointer;
  padding: 0 30px;
  align-self: flex-start;
}

.popup_wrapper img {
  width: calc(100% - 48px);
  height: auto;
  margin: auto;
}

.popup_wrapper p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 24px;
}

.proj img:hover {
  transform: scale(1.1);
}

.popup_wrapper article div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 28px;
}

.popup_wrapper article div:last-child img,
.popup_wrapper article div:last-child i {
  width: 14px;
  height: 14px;
}

.popup_wrapper article div:last-child span {
  padding: 12px;
}

.popup_wrapper article div:last-child button {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 24px;
  margin-right: 20px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;
  position: static;
  width: 327px;
  left: 24px;
  top: 324px;
}

.contact-container .frame42 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.form .name-field {
  display: none;
}

.contact-container form input {
  width: 90%;
  height: 48px;
  margin-bottom: 24px;
  padding-left: 20px;
}

.contact-container h2 {
  text-align: center;
  color: #9390ff;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}

.contact-container p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
}

.contact-container form textarea {
  width: 90%;
  height: 200px;
  margin-bottom: 48px;
  padding-left: 20px;
}

#error-msg {
  color: red;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.hide {
  display: none !important;
}

/* email vali. */
#myform .error-msg {
  color: red;
}

@media only screen and (min-width: 768px) {
  .qual li {
    font-size: 14.1935px;
    color: #fff;
    line-height: 28px;
    margin: 0;
  }

  footer ul {
    padding-bottom: 0;
  }

  .proj ul {
    grid-area: group;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .proj li {
    font-family: 'Roboto', Helvetica, sans-serif;
    padding: 0 20px;
  }

  header {
    margin: 14px 142px 0;
  }

  header .logo {
    line-height: 20px;
    padding: 12px;
  }

  header .menu_mob {
    display: none;
  }

  header .menu_dsk {
    display: contents;
  }

  header .menu_dsk ul {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  header .transformation > *:hover {
    transform: scale(1.2);
  }

  header .menu_dsk li {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    padding: 12px;
  }

  .bckg {
    background-image:
      url(images/circle\ 1\ header.svg),
      url(images/circle\ 2\ header.svg),
      url(images/dsk_Ellipse\ 19.svg),
      url(images/dsk_Ellipse\ 20.svg),
      url(images/dsk_Ellipse\ 21.svg),
      url(images/dsk_Ellipse\ 22.svg);
    background-position: left 7%, right 13%, left 34%, right 50%, left 61%, right 79%;
  }

  .pres {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 186px 142px 88px;
  }

  .pres h1 {
    font-size: 90px;
    color: #9390ff;
    font-weight: 700;
    line-height: 105px;
    margin-bottom: 24px;
  }

  .pres h2 {
    font-size: 40px;
    line-height: 47px;
    color: #dfe1e6;
    padding-bottom: 25px;
  }

  .qual {
    width: 447px;
    margin: auto;
    margin-bottom: 108px;
  }

  form p {
    margin: 30px 0;
  }

  .qual p {
    line-height: 32px;
    color: #b3bac5;
    padding-bottom: 27px;
    margin-bottom: 33px;
  }

  .qual div {
    width: 100%;
    margin: auto;
  }

  .qual h3 {
    font-size: 18px;
    line-height: 29px;
    margin: 0 8px 25px 0;
  }

  .next {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 48px;
  }

  .next_dsk {
    width: fit-content;
    display: flex;
    justify-content: center;
    color: #a2a3ae;
    align-items: center;
  }

  .next_dsk .ardw {
    order: 2;
  }

  .next div {
    margin: 0;
  }

  .next_mob {
    margin: 0;
  }

  .rcnt {
    align-items: flex-start;
    margin-left: 24px;
  }

  .rcnt h2 {
    font-size: 64px;
    line-height: 114px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-transform: none;
  }

  .proj {
    display: grid;
    grid-column-gap: 24px;
    margin: 0 142px 88px;
  }

  .proj:nth-of-type(odd) {
    grid-template-columns: calc(60% - 12px) calc(40% - 12px);
    grid-template-areas: 'img title' 'img txt' 'img group' 'img button';
  }

  .proj:nth-of-type(even) {
    grid-template-columns: calc(40% - 12px) calc(60% - 12px);
    grid-template-areas: 'title img' 'txt img' 'group img' 'button img';
  }

  .proj img {
    grid-area: img;
    align-self: center;
  }

  .proj h3 {
    grid-area: title;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    padding: 26px 0;
  }

  .proj p {
    grid-area: txt;
    color: #dfe1e6;
  }

  form button {
    display: block;
    width: 160px;
    height: 48px;
    padding: 12px;
    margin: 90px auto 106px;
    font-size: 15px;
  }

  .proj button {
    grid-area: button;
    font-size: 15px;
    line-height: 24px;
  }

  .cont {
    width: 684px;
    margin: auto;
    padding-top: 228px;
    padding-bottom: 100px;
    margin-bottom: 0;
  }

  .title_mob {
    display: none;
  }

  .title_des {
    font-size: 40px;
    line-height: 56px;
    color: #9390ff;
    display: flex;
    justify-content: center;
  }

  .cont p {
    font-size: 20px;
    color: #ebebff;
    line-height: 28px;
    margin-top: 24px;
  }

  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 38px 24px;
  }

  .contact-tittle2 {
    display: block;
    color: #9390ff;
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
  }

  .contact-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 684px;
    padding-top: 24px;
  }

  .contact-tittle1 {
    display: none;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 0;
  }

  .popup_wrapper {
    background-image:
      url(images/circle\ 1\ header.svg),
      url(images/circle\ 2\ header.svg);
  }

  .popup_wrapper article {
    top: 112px;
    left: 142px;
    width: calc(100% - 284px);
  }

  .popup_wrapper h1 {
    padding: 24px 0 40px 24px;
    font-size: 40px;
    line-height: 32px;
  }

  .popup_wrapper p {
    font-size: 16px;
    line-height: 30px;
    padding: 40px 0 60px;
    width: 684px;
    margin: auto;
  }

  .popup_wrapper article div:last-child {
    flex-direction: row;
    justify-content: center;
    gap: 78px;
    padding-top: 50px;
    padding-bottom: 90px;
  }
}
